/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(133, 15, 131);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(15, 51, 92, 1);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(15, 51, 92, 1);
}

html {
    height: 100%;
    font-family: sans-serif;
    background-image: radial-gradient(circle farthest-corner at 83.7% 4.3%, rgb(133, 15, 131) 0%, rgba(15, 51, 92, 1) 90%);
    background-attachment: fixed;
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 50px 0;
    width: 500px;
    height: 100vh;
    background-size: cover;
}

*,
:after,
:before {
    box-sizing: border-box;
}

main {
    /*display: -webkit-flex;*/
    display: block;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    z-index: 100;
    place-self: center;
    width: 70%;
}

main section {
    /*min-width: 250px;
    max-width: 50%;*/
    height: 100%;
    text-align: center;
}

.qr-img {
    box-shadow: 0 0 10px 5px rgb(102, 13, 101);
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.07);
}

form {
    padding: 25px 25px 50px 25px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    border-radius: 10px;
    width: 70%;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    margin-top: 10px;
    margin-bottom: 10px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}


.page-header {
    background-image: radial-gradient(circle farthest-corner at 83.7% 4.3%, rgb(133, 15, 131) 0%, rgba(15, 51, 92, 1) 90%);
}

.page-header:after {
    animation: grain 8s steps(10) infinite;
    background-image: url('img/100-90-30.png');
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -110%;
    width: 300%;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

select {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

select::placeholder {
    color: #e5e5e5;
}

select option {
    background-color: rgba(255, 255, 255, 0.07);
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}


button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

h4 {
    z-index: 10;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

a {
    z-index: 100;
    position: relative;
    color: #ffffff;
}

.creator {
    text-align: center;
}

.canvas {
    display: none;
    border-radius: 50px;
    background: #e3e3e3;
    box-shadow: 29px 29px 59px #c1c1c1,
        -29px -29px 59px #ffffff;
}

.banner-text {
    font-size: 15px;
    color: white;
    mix-blend-mode: difference;
}